#app{
    font: 14px lato;
    color : #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}
a.active{
    color:orange;
}

nav{
    padding-top: 20px;
    /* background-color: #e8fbe8; */
    margin-top: 1%;
    font-size: 20px;
}
.width120{
    width: 120%;
}
.bimg{
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    /* padding: 30px; */
    margin-left: 1em;
}
.cursorPointer{
cursor : pointer;
}

.descriptionBox{
    background-color: #d7effb;
    color: #3a3737;
    word-break: break-word;
    padding: 4%;
    margin-top: 1%;
    font-family: cursive;
    font-weight: bold;
    border-radius: 8px;

}
.h1{
    font-family: lato;
}
.borderBox{
    display: inline-block;
    /* border: 1px solid #173507; */
    padding: 0 2% 0 2%;
    border-radius: 5px;
    color: #173507;
    /* font-size: 16px; */
}
.floatLeft
{
    float: left;
}
.floatRightmarginLeft2
{
    float: right;
}
.marginTop2{
    margin-top: 2%;
}
.marginTop_2{
    margin-top: -4%;
}
.marginLeft2{
    margin-left: 2%;
}
.marginBottom2{
    margin-bottom: 2%
}
#displayBeer span{
    font-weight: bold;
}
.details_container{
    padding: 2% 0 0 2%;
    border-left: 1px solid rgb(197, 195, 195);
    margin-top: 2%
}
.b_searchBox{
    display: inline-block;
    width: 19%;
    height: 4%;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    top: 8em;
    left: 0.7em;
    position: absolute;
}
.inp_searchBox{
    width:  70%;
    border : none;
    border-radius:  5px;
    padding-left: 10px;
}
.btn_searchBox{
    display: inline-block;
    width: 30%;
    height: 100%;
    color: rgb(20, 56, 20);
    background-color: white;
}
.btn_searchBox:hover{
    background-color:white;
    border : 1px solid #007ACC;
    color:  #007ACC;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.beer_title{

    top: 6.5em;
    left: 1em;
    display: inline-block;
    position: absolute;
    color: #868a8a;
}
.loading_message{
    height: 20%;
    width : 45%;
    text-align: center;
    font-size: 15px;
    margin-top: 5%;

}

@keyframes loading_spinner {
    to {transform: rotate(360deg);}
  }
   
  .loading_spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 16%;
    left: 44%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
  }
  .separatoor{
      margin-left:2%;
      color: #78CEF7;
  }
  .beer_icon{
      height: 35%;
      margin-top: -2%;
      background-size:contain;
      left:2%;
      width: 17%; 
  }
  .key_value_display{

    width: 40%;
    height: 2em;
    display: block;
    font-size: 12px
  }
  .key_value_display div {
      width: 35%;
      float: left;
      text-align:  left;
      font-weight: bold;
      padding-left: 8%;
  }
  .key_value_display b{
      float: left;
  }
  .key_val_container{
      position: absolute;
      left: 2%;
      width: 50%;
      top: 50%;
      font-family: lato;
      font-size: 10px !important;
  }

  .rt-thead{
      background-color: rgb(240, 234, 234)!important;
  }